<div class="d-flex flex-column home-img-background">
  <div class="home-main-middle m-auto">
    <div
      class="div-home-main-title m-auto position-relative d-flex justify-content-center"
    >
      <h1 class="home-main-title-name px-3 position-absolute">PEDRO JABER</h1>
      <!-- <h1 class="home-main-title-dev px-3 position-relative">BACKEND DEV</h1> -->
      <h1 class="home-main-title-dev px-3 position-relative">FULL STACK DEV</h1>
    </div>
  </div>

  <div class="home-main-bottom mb-3">
    <div class="row g-0">
      <div class="col-4">
        <p class="pit-home ms-5">
          Oi, meu nome é Pedro Henrique. Sou Desenvolvedor Backend apaixonado
          por tecnologia, design e astronomia. Sou bastante curioso, adoro
          aprender algo novo e ajudar os outros como eu puder. Meu objetivo é
          utilizar a tecnologia para construir um mundo melhor. 🔭😃
        </p>
      </div>

      <div class="col-4 d-flex justify-content-center align-items-end">
        <a href="/#destaques" id="botao-ver-mais">
          <div class="chevron-down-icon circle-grow">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="35"
              fill="currentColor"
              class="bi bi-chevron-down"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
              />
            </svg>
          </div>
        </a>
      </div>

      <div class="col-4"></div>
    </div>
    <!--
      <div class="d-flex justify-content-center mb-3">
        <a href="/#destaques" id="botao-ver-mais">
          <div class="chevron-down-icon circle-grow">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="35"
              fill="currentColor"
              class="bi bi-chevron-down"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
              />
            </svg>
          </div>
        </a>
      </div>
    -->
  </div>
</div>

<main class="main-box content py-5">
  <!-- DESTAQUES -->
  <h1 class="text-center" id="destaques">DESTAQUES</h1>

  <div class="row">
    <!-- Tail Tag -->
    <div class="col-12 destaques-col mt-5 card enable">
      <div class="card-body">
        <a
          href="https://tail-tag.onrender.com/"
          target="_blank"
          class="project-link-card d-flex flex-row text-decoration-none"
        >
          <div class="project-img-destaques">
            <img src="images/tailtag-home.png" alt="tailtag" />
          </div>
          <div class="project-text-destaques">
            <div class="d-flex">
              <h2>Tail Tag</h2>
              <h3 class="ms-2 fs-4 text-secondary-emphasis">em reconstrução</h3>
            </div>

            <p>
              Tail Tag é um serviço inteligente completo de rastreamento de
              animais de estimação projetado para garantir a segurança e o
              bem-estar dos Pets, ajudando donos a monitorar seus animais com
              eficiência. O projeto possui um site para fazer o rastreio e
              gerenciamento dos Pets equipados com uma coleira com
              geolocalização em tempo real.
            </p>

            <p>
              <strong>Tags:</strong> JavaScript, C++, Node.js, Express, JSON Web
              Token, Bcrypt, MongoDB, Mongoose, EJS, Bootstrap, ESP32, Arduino
            </p>
          </div>
        </a>
        <div class="d-flex flex-nowrap mt-3">
          <strong>
            <a href="https://github.com/Pedro-Jaber/Tail-Tag" target="_blank"
              >GitHub</a
            >
          </strong>
        </div>
      </div>
    </div>

    <!-- CAPAAS -->
    <div class="col-12 destaques-col mt-5 card enable">
      <div class="card-body">
        <a
          href="https://capaas.onrender.com/"
          target="_blank"
          class="project-link-card d-flex flex-row"
        >
          <div class="project-text-destaques">
            <h2>CAPAAS</h2>

            <p>
              Uma API RESTful que retorna imagens aleatórias, ou especificas, de
              capivaras. A aplicação armazena as imagens diretamente no banco de
              dados usando Blobs, e faz a categorização usando tags.
            </p>

            <p>
              <strong>Tags:</strong> JavaScript, Node.js, Express, MongoDB,
              Mongoose, Express-ejs-layouts, Bootstrap
            </p>
          </div>
          <div class="project-img-destaques">
            <img src="images/capaas-home.png" alt="capblog" />
          </div>
        </a>
        <div class="d-flex flex-nowrap mt-3">
          <strong>
            <a href="https://github.com/Pedro-Jaber/CAPAAS" target="_blank"
              >GitHub</a
            >
          </strong>
        </div>
      </div>
    </div>

    <!-- CAPBLOG -->
    <div class="col-12 destaques-col mt-5 card">
      <div class="card-body">
        <a href="" class="project-link-card d-flex flex-row disable">
          <div class="project-img-destaques">
            <img src="images/capblog-home.png" alt="capblog" />
          </div>

          <div class="project-text-destaques">
            <h2>CAPBLOG</h2>

            <p>
              Este é meu blog feito em JavaScript utilizando JSON Web Token
              (JWT), MongoDB e Mongoose. O blog realiza todas as operações de
              CRUD. Também inclui um sistema de busca e paginação.
            </p>

            <p>
              <strong>Tags:</strong> JavaScript, Node.Js, MongoDB, Express, JSON
              Web Token
            </p>
          </div>
        </a>

        <div class="d-flex flex-nowrap mt-3">
          <strong>
            <a href="https://github.com/Pedro-Jaber/CapBlog" target="_blank"
              >GitHub</a
            >
          </strong>
        </div>
      </div>
    </div>

    <!-- JOBMATCH -->
    <div class="col-12 destaques-col mt-5 card">
      <div class="card-body">
        <a href="" class="project-link-card card-body d-flex flex-row disable">
          <div class="project-text-destaques">
            <h2>JOBMATCH</h2>

            <p>
              Este projeto é uma plataforma de estágios em desenvolvimento,
              originado de um trabalho da faculdade. É uma plataforma para
              conectar empresas e candidatos. Um Backend robusto foi
              desenvolvido para lidar com diversas páginas e ações dos usuários.
              Com esse projeto aprendi bastante sobre versionamento de código e
              requisições ao banco de dados
            </p>

            <p>
              <strong>Tags:</strong> JavaScript, Node.js, Express, JSON Web
              Token, Bcrypt, PostgreSQL, Sequelize, Express-ejs-layouts,
              Bootstrap
            </p>
          </div>

          <div class="project-img-destaques">
            <img src="images/jobmatch-home.png" alt="capblog" />
          </div>
        </a>

        <div class="d-flex flex-nowrap mt-3">
          <strong>
            <a
              href="https://github.com/Pedro-Jaber/Portal-Vagas-Back"
              target="_blank"
              >GitHub</a
            >
          </strong>
        </div>
      </div>
    </div>
  </div>
</main>
