<div class="d-flex flex-column home-img-background">
  <div class="div-home-main-title my-auto">
    <h1 class="home-main-title px-3">PEDRO JABER</h1>
  </div>

  <div class="d-flex justify-content-center mb-3">
    <div
      class="p-3 chevron-down-icon"
      onclick="gotoDestaques()"
      id="btn-goto-destaques"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="35"
        height="35"
        fill="currentColor"
        class="bi bi-chevron-down"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
        />
      </svg>
    </div>
  </div>
</div>

<main class="main-box content py-5">
  <h2 class="text-center" id="destaques">DESTAQUES</h2>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum illo
      commodi accusantium facere? Pariatur corporis quam quaerat ex iusto hic.
      Vitae quam repudiandae sit totam magnam excepturi, delectus harum a!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum illo
      commodi accusantium facere? Pariatur corporis quam quaerat ex iusto hic.
      Vitae quam repudiandae sit totam magnam excepturi, delectus harum a!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum illo
      commodi accusantium facere? Pariatur corporis quam quaerat ex iusto hic.
      Vitae quam repudiandae sit totam magnam excepturi, delectus harum a!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum illo
      commodi accusantium facere? Pariatur corporis quam quaerat ex iusto hic.
      Vitae quam repudiandae sit totam magnam excepturi, delectus harum a!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum illo
      commodi accusantium facere? Pariatur corporis quam quaerat ex iusto hic.
      Vitae quam repudiandae sit totam magnam excepturi, delectus harum a!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum illo
      commodi accusantium facere? Pariatur corporis quam quaerat ex iusto hic.
      Vitae quam repudiandae sit totam magnam excepturi, delectus harum a!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum illo
      commodi accusantium facere? Pariatur corporis quam quaerat ex iusto hic.
      Vitae quam repudiandae sit totam magnam excepturi, delectus harum a!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum illo
      commodi accusantium facere? Pariatur corporis quam quaerat ex iusto hic.
      Vitae quam repudiandae sit totam magnam excepturi, delectus harum a!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum illo
      commodi accusantium facere? Pariatur corporis quam quaerat ex iusto hic.
      Vitae quam repudiandae sit totam magnam excepturi, delectus harum a!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum illo
      commodi accusantium facere? Pariatur corporis quam quaerat ex iusto hic.
      Vitae quam repudiandae sit totam magnam excepturi, delectus harum a!
    </p>
  </div>
</main>

<script>
  function gotoDestaques() {
    window.location.href = "/#destaques";
  }
</script>
