.main-box {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1274px;
}

@media (min-width: 400px) {
  .main-box {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 600px) {
  .main-box {
    padding-left: 66px;
    padding-right: 66px;
  }
}

@media (min-width: 840px) {
  .main-box {
    padding-left: 125px;
    padding-right: 125px;
  }
}
